* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

/* general */
.cursor-p {
  cursor: pointer;
}

.mt-sm {
  margin-top: 0.3rem !important;
}
.mt-md {
  margin-top: 1rem !important;
}

.bblr-0 {
  border-bottom-left-radius: unset !important;
}
.bbrr-0 {
  border-bottom-right-radius: unset !important;
}

.btlr-0 {
  border-top-left-radius: unset !important;
}
.btrr-0 {
  border-top-right-radius: unset !important;
}

.bg-img {
  background-image: url(./assets/photos/wallpaper-2.jpg);

  background-size: 110% auto;
  background-position: top;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

:root {
  --bg-primary: #1a1a1a;
  --bg-secondary: #333333;
  --bg-ternary: #5a5a5a;
  --color-primary: #e6e6e6;
  --color-secondary: #b3b3b3;
  --color-ternary: #999999;
}

.light {
  --bg-primary: #e6e6e6;
  --bg-secondary: #bdc1d7;
  --bg-ternary: #484f7d;
  --color-primary: #1a1a1a;
  --color-secondary: #333333;
  --color-ternary: #5a5a5a;
}

html {
  background-color: #43434380;
  font-size: 62.5%;
  /* background-color: black; */
}

body {
  margin: auto;
  width: 41.2rem;
  height: 91.5rem;
  max-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

.chat {
  height: 100%;
  overflow: auto;
}

.contacts {
  padding: 1rem;
}

.title {
  font-size: 2.4rem;
  text-align: center;
  padding-top: 1rem;
  font-style: oblique;
}

.messages {
  /* background-image: url(wallpaper-2.b83720a5.jpg);
  background-position: bottom;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-blend-mode: normal; */
  flex-direction: column;
  height: calc(100% - 12rem);
  margin-top: 7rem;
  padding: 0 1rem;
  display: flex;
  overflow: scroll;
}

.contactCard,
.selected,
.groupCard {
  display: flex;

  padding: 1rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
  align-items: center;
}

.selected {
  position: fixed;
  width: 41.2rem;
  top: 0;
  padding: 1rem;
  background-color: var(--bg-primary);
  border-radius: unset;
}

.contactCard .name {
  margin-bottom: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
}
.groupCard .name {
  margin-bottom: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
}
.selected .name {
  font-size: 2rem;
  font-weight: 600;
}

.selected .name {
  font-weight: 500;
}

/* .chat .contactCard:not(:last-child) {
  border-bottom: 0.1rem solid #6f6f6fa1;
} */

.dp {
  border-radius: 50%;
  width: 5rem;
}

.letter-dp {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;

  font-size: 3.2rem;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.back.arrow {
  mask-image: url(./assets/svgs/arrow.svg);

  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  margin-left: 0;
  background-color: var(--color-primary);
}

.input-box {
  border: none;
  border-radius: 10rem;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: var(--bg-secondary);
}

.input-box::placeholder {
  color: var(--color-ternary);
}

.send-form {
  width: calc(41.2rem);
  z-index: 100;

  padding: 1rem;
  position: fixed;
  bottom: 0;

  display: flex;
}

.input-box.send {
  width: 100%;

  background-size: 3rem;
  padding: 1rem 2rem;
  padding-right: 7rem;
}

.send-btn {
  margin-left: -6rem;
  width: 4rem;
}

.search-form {
  position: sticky;
  top: 0;
  padding: 1rem 1rem;
}

/* .input-box:focus {
  font-size: inherit;
} */

.input-box.search {
  background-image: url(./assets/svgs/search.svg);
  background-position: 6%;
  background-size: 2.3rem;
  background-repeat: no-repeat;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  padding-left: 6rem;
}

/* @keyframes slidein {
  100% {
    transform: none;
  }
} */

.msg {
  border-radius: 1.3rem;
  width: auto;
  max-width: 80%;
  margin: 0 1rem;
  padding: 0.6rem 0.9rem;

  /* for animation */
  /* 
  animation: slidein 1s ease-out;
  animation-fill-mode: forwards; */
}

.start-conversation {
  margin: auto;
  color: var(--color-ternary);
  font-weight: 800;
}

.sender-name {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.sent-at {
  float: right;
  margin-top: 0.7rem;
  margin-left: 1.2rem;
  font-size: 1.2rem;
  color: var(--color-secondary);
}

.msg-right {
  background-color: var(--bg-ternary);

  margin-left: auto;

  /* for animation */
  /* transform: translate(120%, 0); */
}
.msg-left {
  background-color: var(--bg-secondary);

  margin-right: auto;
  /* for animation */
  /* transform: translate(-120%, 0); */
}

.msg:first-child {
  margin-top: auto !important;
}

.last-msg {
  font-size: 1.5rem;
  color: var(--color-ternary);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-ternary);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-ternary);
}

@media screen and (max-width: 50em) {
  body {
    width: unset;
    height: 100vh;
    max-height: unset;
  }

  .send-form {
    width: 100%;
  }

  .messages {
    height: calc(100% - 13rem);
  }

  .selected {
    width: 100%;
  }
}
