:root {
  --bg-primary: #1a1a1a;
  --bg-secondary: #333333;
  --color-primary: #e6e6e6;
  --color-secondary: #999999;
  /*  */

  --bg-ternary: #333333;
  --bg-quaternery: #4d4d4d;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;

  gap: 1rem;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  text-align: center;
}
header img {
  width: 4rem;
  display: block;

  border-radius: 2rem;
}

.display-none {
  display: none !important;
}

.alert {
  position: absolute;
  top: 0;

  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  padding: 1rem;
  background: #ff6363;
  border-radius: 0.5rem;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: auto;

  width: 35rem;
  margin-top: 1rem;
  border-radius: 1rem;

  background: var(--bg-secondary);
}

.form-login div {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  color: inherit;
  height: 2.7rem;
  border: 0.1rem solid var(--color-secondary);
  border-radius: 0.5rem;
  font-size: inherit;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--bg-ternary);
}

/* input:hover {
  background-color: var(--bg-ternary);
} */

button {
  border-radius: 10rem;

  font-size: inherit;
  cursor: pointer;
}

.btn {
  background: #4e4eff;
  padding: 1.5rem;
  color: inherit;
  border: none;
}

.btn:hover {
  background: #2626fb;
}

.link {
  background-color: var(--bg-ternary);
  padding: 1.5rem;
  color: inherit;
  border: 0.2rem solid var(--color-secondary);
}

.link:hover {
  inset: 2.3px solid var(--bg-quaternery);
}

hr {
  width: 100%;
}

p {
  text-align: center;
}

@media screen and (max-width: 50em) {
  .form-login {
    width: 80%;
    margin-top: 2rem;
  }
}
